body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding-top: 80px; /* Добавляем отступ для фиксированной панели */
}

.container {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 80%;
    max-width: 600px;
    text-align: left;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #2c3e50;
}

.form-group {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
    color: #2c3e50;
}

input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
}

textarea {
    resize: none;
}

button {
    width: 100%;
    background-color: #2980b9;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #1f618d;
}

.btn-back {
    display: block;
    margin-top: 15px;
    text-align: center;
    color: white;
    background-color: #5dade2;
    padding: 10px;
    border-radius: 4px;
    text-decoration: none;
}

.btn-back:hover {
    background-color: #2e86c1;
}

/* Стили для фиксированной навигационной панели */
.navbar {
    width: 100%;
    background-color: #007bff;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed; /* Фиксируем панель */
    top: 0;
    left: 0;
    z-index: 1000;
}

.navbar .navbar-brand {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar ul li {
    margin-right: 20px;
}

.navbar ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding: 5px 10px;
}

.navbar ul li a:hover {
    background-color: #0056b3;
    border-radius: 5px;
}

.navbar .navbar-right {
    margin-left: auto;
}

.navbar ul.navbar-right li {
    margin-left: 20px;
}
