body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    padding-top: 80px; /* Добавляем отступ для фиксированной панели */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 80%;
    max-width: 900px;
    text-align: left;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #2c3e50;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    text-align: left;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 12px;
}

thead {
    background-color: #3498db;
    color: white;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #ecf0f1;
}

a {
    text-decoration: none;
    color: white;
    padding: 8px 12px;
    border-radius: 4px;
}

.btn-danger {
    background-color: #2980b9;
    transition: background-color 0.3s;
}

.btn-danger:hover {
    background-color: #1f618d;
}

.btn-secondary {
    background-color: #5dade2;
    display: inline-block;
    margin-top: 20px;
    transition: background-color 0.3s;
}

.btn-secondary:hover {
    background-color: #2e86c1;
}

/* Стили для фиксированной навигационной панели */
.navbar {
    width: 100%;
    background-color: #3498db;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed; /* Фиксируем панель */
    top: 0;
    left: 0;
    z-index: 1000;
}

.navbar .navbar-brand {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar ul li {
    margin-right: 20px;
}

.navbar ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding: 5px 10px;
}

.navbar ul li a:hover {
    background-color: #1f618d;
    border-radius: 5px;
}

.navbar .navbar-right {
    margin-left: auto;
}

.navbar ul.navbar-right li {
    margin-left: 20px;
}
