<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Управление компьютерами</title>
  <link rel="stylesheet" href="/zal.css">
</head>
<body>
<nav class="navbar">
  <a class="navbar-brand" href="/home">PcКлуб</a>
  <ul>
    <li><a href="/general-Hall">Общий зал</a></li>
    <li><a href="/bron">Бронь</a></li>
    <li><a href="/food">Холодильник</a></li>
    <li><a href="/reviews">Отзывы</a></li>
    <li><a href="/addPc">АдминPc</a></li>
    <li><a href="/admin/food/add">АдминFood</a></li>
    <li><a href="/admin/reviews/all">АдминОтзыв</a></li>
    <li><a href="/admin/payments">АдминПлатежи</a></li>
    <li><a href="/admin/users">Админ панель</a></li>
  </ul>
  <ul class="navbar-right">
    <li><a href="/login">Выйти</a></li>
  </ul>
</nav>
<div class="container">
  <h1>Управление компьютерами</h1>

  <!-- Список компьютеров -->
  <h2>Список компьютеров</h2>
  <ul class="computer-list">
    <th:block th:each="computer : ${computers}">
      <li class="computer-item">
        <span th:text="${computer.name}"></span> -
        <span th:text="${computer.status}"></span> -
        <span th:text="${computer.pricePerHour} + ' руб./час'"></span> -
        <span th:text="${computer.specifications}"></span>

        <!-- Форма для обновления -->
        <form action="/admin/general-Hall/update" method="post" style="display:inline;">
          <input type="hidden" name="id" th:value="${computer.id}">
          <input type="text" name="name" th:value="${computer.name}" placeholder="Название">
          <input type="text" name="status" th:value="${computer.status}" placeholder="Статус">
          <input type="text" name="specifications" th:value="${computer.specifications}" placeholder="Характеристики">
          <input type="number" name="pricePerHour" th:value="${computer.pricePerHour}" placeholder="Цена за час">
          <button type="submit" class="btn-update">Обновить</button>
        </form>

        <!-- Форма для удаления -->
        <form action="/admin/general-Hall/delete" method="post" style="display:inline;">
          <input type="hidden" name="id" th:value="${computer.id}">
          <button type="submit" class="btn-delete">Удалить</button>
        </form>
      </li>
    </th:block>
  </ul>


  <a href="/addPc" class="btn-add">Добавить новый компьютер</a>

</div>

</body>
</html>
