<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Общий зал</title>
    <link rel="stylesheet" href="/zal.css">
</head>
<body>
<nav class="navbar">
    <a class="navbar-brand" href="/home">PcКлуб</a>
    <ul>
        <li><a href="/general-Hall">Общий зал</a></li>
        <li><a href="/bron">Бронь</a></li>
        <li><a href="/food">Холодильник</a></li>
        <li><a href="/reviews">Отзывы</a></li>
        <li><a href="/addPc">АдминPc</a></li>
        <li><a href="/admin/food/add">АдминFood</a></li>
        <li><a href="/admin/reviews/all">АдминОтзыв</a></li>
        <li><a href="/admin/payments">АдминПлатежи</a></li>
        <li><a href="/admin/users">Админ панель</a></li>
    </ul>
    <ul class="navbar-right">
        <li><a href="/login">Выйти</a></li>
    </ul>
</nav>
<div class="container">
    <h1>Общий зал</h1>


    <h2>Список компьютеров</h2>
    <ul class="computer-list">
        <th:block th:each="computer : ${computers}">
            <li class="computer-item">
                <span th:text="${computer.name}"></span> -
                <span th:text="${computer.status}"></span> -
                <span th:text="${computer.pricePerHour} + ' руб./час'"></span> -
                <span th:text="${computer.specifications}"></span>
            </li>
        </th:block>
    </ul>


</div>

</body>
</html>
